.vs
*/build
*/CMakeFiles
# exclude all files in the build directory
*.so*
*.a
# makes sure that the CMakeLists.txt file is not ignored
*Makefile
*.cmake

# Ignore the build directory
build/
output/
out/

# Ignore CMake cache files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Ignore Visual Studio files
*.sln
*.vcxproj*
*.user
*.ncb
*.suo
*.opensdf
